<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./vue-sample.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- 
            v-bind  To bind to HTML attributes and properties
            v-on    To bind to events
        -->

        <div id="app">

            <!-- Vue defined component -->
            <app-username 
                v-on:user-clicked="userWasClicked($event)" 
                v-bind:username="'Juan'">
            </app-username>
            <app-username v-bind:username="'Pepe'"></app-username>

            <hr>

            <p v-bind:class="{ updated: messageUpdated }">{{ message }}</p>
            <p v-if="messageUpdated">Message updated!</p>
            <button v-on:click="changeMessage">Change Message</button>

            <br><br>

            <button v-on:click="addNewElement">Add new element to list</button>

            <ul>
                <li v-for="element in elements"
                    v-bind:id="'el' + element"
                    v-bind:style="{ backgroundColor: getColor(element) }">Element {{ element }}</li>
            </ul>

        </div>

        <hr>


        <div id="app2">
            <p>Second view instance</p>
            <!-- v-model allows two-way binding -->
            <input type="text" v-model="message">
            <p>{{ message }}</p>

        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="./vue-sample.js"></script>
        <script src="" async defer></script>

    </body>
</html>